<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<style>{% block style %}{% endblock %}</style>
	</head>
	<body>
		<header id="header">
			<h1 class="logo"><a href="/">Camagru</a></h1>
			<nav>
				<ul class="">
					<li><a href="/gallery/index">Gallery</a></li>
					{% if current_user %}
						<li><a href="/posts/index">Posts</a></li>
						<li><a href="/settings/show">Settings</a></li>
						<li><a href="/logout">LogOut</a></li>
					{% else %}
						<li><a href="/signup/new">SignUp</a></li>
						<li><a href="/login">LogIn</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% for message in flash_messages %}
			<div class="alert alert-{{ message.type }}">
				{{ message.body }}
			</div>
		{% endfor %}

		<div id="left">
			{% block left %}
			{% endblock %}
		</div>

		<div id="body">
			{% block body %}
			{% endblock %}
		</div>

		<div id="right">
			{% block right %}
			{% endblock %}
		</div>

		<footer id="footer">
			<p>Copyright &copy; fchuc.</p>
		</footer>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
		{% block validate %}
		{% endblock %}
	</body>
</html>
